.about {
    width: 100%;
    background-color: #152D20;
    padding: 100px 0;
    @include mobile-responsive {
        padding: 50px 0;
    }
    .wrapper {
    display: flex;
    @include mobile-responsive {
        flex-direction: column;
        }
    }
    .image-container {
        flex-basis: 30%;
        width: 100%;
        padding-right: 50px;
        img {
            width: 100%;
        }
    }
    .text-container {
        flex-basis: 70%;
        width: 100%;
    }
    h2 {
        margin-top: 0;
        @include mobile-responsive {
            font-size: 2rem;
            padding-top: 30px;
        }
    }
}