h1 {
    @include font-size(120px);
    color: #FCFCFC;
    line-height: 117px;
}

h2 {
    @include font-size(51px);
    color: #FCFCFC;
}

h3 {
    @include font-size(49px);
    color: #152D20;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    color: #FCFCFC;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

button {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 600;
    background-color: #FCFCFC;
    padding: 10px 20px;
    border: none;
}