.cta-panel {
    background-color: #152D20;
    display: flex;
    width: 100%;
    @include mobile-responsive {
        flex-direction: column;
    }
    h4 {
        font-size: 35px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        @include mobile-responsive {
            flex-direction: column;
        }
        li {
            flex-basis: 30%;
            text-align: center;
        }
    }
    a {
        text-decoration: none;
        color: #FCFCFC;
    }
    .animal-spotlight {
        display: flex;
        a {
            flex-basis: 50%;
        }
    }
}