footer {
    background-color: #152D20;
    width: 100%;
    padding: 50px 0;
    h4 {
        color: #FCFCFC;
        text-align: center;
        font-size: 22px;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        @include mobile-responsive {
            flex-direction: column;
        }
    }
    ul {
        list-style: none;
        a {
        text-decoration: none;
        color: #FCFCFC;
        font-size: 22px;
        }
    }
    .contact-info {
        text-align: right;
        @include mobile-responsive {
            text-align: center;
        }
        p {
            line-height: 10px;
        }
        h4 {
            text-align: right;
            @include mobile-responsive {
                text-align: center;
            }
        }
    }
    .form-mailing {
        display: inline;
        input {
            display: inline;
            width: 60%;
            height: 45px;
            margin: 0;
        }
        button {
            background-color: #000000;
            color: #FCFCFC;
        }
    }
   
}

.copyright {
    background-color: #000000;
    text-align: center;
    margin: 0;
    width: 100%;
    p {
        margin: 0;
    }
}