header {
    background-image: url(../../Assignment-1/assets/img/image-1.jpg);
    height: 100vh;
    background-size: cover;
    @include mobile-responsive {
        background-position: 30%
    }
        h1 {
        text-align: right;
        word-spacing: 100vw;
        margin-top: 75px;
        padding-right: 100px;
        @include mobile-responsive {
            font-size: 2rem;
            word-spacing: 0;
            margin: 0;
            text-align: left;
            padding: 0;
        }
    }
}