.fa-brands {
    color: #FCFCFC;
}

.social-icons {
    ul {
        text-decoration: none;
        list-style: none;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    li {
        padding: 15px 0;
    }
    @include mobile-responsive {
        display: none;
    }
}

.mobile-menu {
    position: relative;
    .fa-bars {
        color: white;
        visibility: hidden;
        @include mobile-responsive {
            visibility: visible;
            position: absolute;
            right: 0;
            top: 50px;
        }
    }
}