nav {
    padding-top: 25px;
    ul {
        display: inline-block;
    }
    li {
        display: inline;
        margin-right: 30px;
    }
    a {
        text-decoration: none;
        color: #FCFCFC;
    }
    @include mobile-responsive {
        display: none;
        padding: 0;
        margin: 0;
    }
}